.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  padding: 31px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0;
  text-align: start;
  color: $dark-grey;
  margin-left: 320px;
  border-top: 1px solid $turquoise;
  &__text{
    &:last-child{
      text-align: end;
      @include tablet{
        text-align: center;
      }
    }
  }
  @include desktop {
    margin-left: 0;
  }
  @include tablet{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 16px 0;
    text-align: center;
  }
}



