.swiper-repair {
  display: flex;
  flex-direction: column;
  gap: 24px;
  &__title{
    padding: 16px;
    margin: 0;
    background-color: #FFFFFF;
    border-top: 1px solid #D9FFF5;
    color: rgb(126, 126, 130);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
    text-transform: uppercase;
  }
  &__list{
    display: flex;
    flex-direction: column;
    @include tablet-above{
        height: 185px;
        overflow: hidden;
    }
  }
  @include desktop-above{
      max-width: 1120px;
  }
}
