$white: #fff;
$teal: #41F6D7;
$pink: #FF3E79;
$grey: #F8F8F8;
$dark: #1B1C21;
$dark-grey: #7E7E82;
$light-grey: #EAEAEA;
$light-teal: #B8FFEC;
$turquoise: #D9FFF5;
$overlay: rgba(255, 255, 255, 0.8);
$primary-color: #3498db;
